/* All Page Base Styles */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Navbar Section */
.navbar {
  background: transparent !important;
  font-family: 'Dancing Script', cursive;
  z-index: 9;
}

.nav-list {
  margin-bottom: 0;
}

.nav-item {
  padding: 8px 0 8px 10px !important;
  font-size: 1.5rem;
  list-style-type: none;
}

#product-number {
  font-size: 12px;
  float: right;
  padding: 5px 0 0 7px;
}

@media screen and (min-width: 665px) {
  .nav-item {
    color: #FFFFFF !important;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#content {
  width: 100%;
}

.btn-secondary {
  margin-bottom: 16px !important;
}

.carouselButton {
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (min-width: 665px) {
  #content {
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-img {
    height: 100vh;
  }
}

.confirmFeedback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #00c02b !important;
  border-color: #009d23 !important;
  color: #ffffff;
  margin-top: 10px;
  max-width: 400px;
  padding: 6px;
  background: #cccccc;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s, top 0.2s, visibility 0.2s;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.confirmFeedbackInvalid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #DC143C !important;
  border-color: #DC143C !important;
  color: #ffffff;
  margin-top: 10px;
  max-width: 400px;
  padding: 6px;
  background: #cccccc;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s, top 0.2s, visibility 0.2s;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.confirmFeedbacka {
  text-decoration: none;
}

.confirmFeedbackVisible {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

.product-container {
  background-color: #F0F0F0;
}

.product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.singleProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleProductCard {
  position: relative;
  height: 580px !important;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 25px;
}

.singleProductCard:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #786e62;
  -webkit-clip-path: circle(300px at 80% -20%);
          clip-path: circle(300px at 80% -20%);
}

.singleProductCard:after {
  content: 'Orinoco';
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 60%;
  left: 2%;
  font-size: 7em;
  font-weight: 800;
  font-style: italic;
  color: rgba(120, 110, 98, 0.4);
}

.singleProductImgBox {
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
}

.singleProductImg {
  position: absolute;
  top: 5%;
  left: 12%;
  width: 270px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.singleProductPrice {
  margin: 20px 0;
}

.singleProductDescriptionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.singleProductAddToCart, .singleProductReturnToHome {
  margin-bottom: 15px;
}

#productCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

#productCounterDecrease {
  margin-right: 10px;
}

#productCounterIncrease {
  margin-left: 10px;
}

.btn-outline-primary {
  color: grey;
  border-color: grey;
  margin-right: 20px;
}

.btn-outline-primary:hover {
  border-color: grey;
  background-color: #232323;
  opacity: 0.5;
}

@media screen and (min-width: 665px) {
  .product-image-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-details {
    padding: 0 70px 0 70px;
  }
}

@media screen and (min-width: 1024px) {
  .product-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
  .singleProductCard {
    width: 500px;
    height: 650px;
    margin-bottom: 0;
  }
  .singleProductCard:before {
    -webkit-clip-path: circle(440px at 80% -20%);
            clip-path: circle(440px at 80% -20%);
  }
  .singleProductCard:after {
    top: 70%;
    left: 15%;
  }
  .singleProductImg {
    width: 390px;
  }
  .singleProductTitle {
    margin-bottom: 60px;
  }
}

.pb-5 {
  padding: 1.5rem 0 0.5rem 0 !important;
  margin: 0 !important;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h2 span {
  color: #786e62;
  font-size: 3rem;
}

#productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product {
  position: relative;
}

.productCard {
  position: relative;
  width: 300px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.productCard:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #786e62;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.productCard:hover:before {
  -webkit-clip-path: circle(300px at 80% -20%);
          clip-path: circle(300px at 80% -20%);
}

.productCard:after {
  content: 'Orinoco';
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 50%;
  left: 8%;
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  color: rgba(120, 110, 98, 0.4);
}

.productImgBox {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productImg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-25deg);
          transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.productImgButton {
  position: absolute;
  top: 70%;
  left: 65%;
  width: 50px;
  height: 50px;
  background: #fbfbfb;
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
}

.productImgAdd {
  max-width: 100%;
}

.productContentBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

.productContentBox h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.productContentBox a {
  display: inline-block;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

.productPrice, .productDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productPrice h3, .productDescription h3 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 10px;
}

.productCard:hover .productImgBox {
  top: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.productCard:hover .productContentBox {
  height: 190px;
}

.productCard:hover .productContentBox a {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.col-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 20px 0;
  padding: 0 !important;
}

hr {
  border: 1px solid #786e62;
}

.productContainer {
  padding: 10px;
  margin: 15px;
}

.productContainerImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 150px;
  max-width: 200px;
}

.productContainerDetails {
  padding: 5px !important;
}

.productContainerDetailsRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 665px) {
  .productContainerDetailsRow {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.productContainerMoreDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 665px) {
  .productContainerMoreDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.productContainerItemQuantity, .productContainerItemPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 !important;
}

@media screen and (min-width: 665px) {
  .productContainerItemQuantity, .productContainerItemPrice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.productContainerItemPrice {
  padding: 10px 0 !important;
}

.productContainerRemoveItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 665px) {
  .productContainerRemoveItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.productHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 665px) {
  .productHeading {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.productHeadingHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .productHeadingHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 30px;
  }
}

.productHeadingHeaderText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0 0 0 !important;
  font-size: 24px;
}

@media screen and (min-width: 665px) {
  .productHeadingHeaderText {
    font-size: 28px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 665px) {
  .productHeadingEmptyCart {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 10px;
  }
}

.productImage {
  max-height: 150px;
  width: 220px;
}

@media screen and (min-width: 665px) {
  .productImage {
    margin-right: 40px;
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .productImage {
    width: 250px;
  }
}

.productTitle {
  margin: 0 !important;
}

.productLens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0 !important;
}

@media screen and (min-width: 665px) {
  .productLens {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.productRemoveItemButton {
  margin: 0 !important;
}

.productItemPlus {
  margin-right: 10px;
}

.productItemMinus {
  margin: 0 0 0 10px;
}

.productItemPrice {
  margin: 0;
}

.orderSummary {
  margin-bottom: 15px !important;
}

.orderSummaryProductAmount, .orderSummaryShippingCost, .orderSummaryDiscountApplied, .orderSummaryTotalAmount {
  border-top: solid 1px lightgrey !important;
}

.orderSummaryProductAmount p, .orderSummaryShippingCost p, .orderSummaryDiscountApplied p, .orderSummaryTotalAmount p {
  margin: 5px 0;
}

.orderSummaryCheckoutButton {
  margin-top: 10px;
}

.orderInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 665px) {
  .orderInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.orderInfo td {
  padding: 0 12px !important;
}

.confirmProductContainerImage {
  width: 25%;
  padding: 12px 0 !important;
}

@media screen and (min-width: 665px) {
  .confirmProductContainerImage {
    width: 33%;
  }
}

.confirmProductContainerImage img {
  width: 100%;
  margin-top: 15%;
}

@media screen and (min-width: 665px) {
  .confirmProductContainerImage img {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 1024px) {
  .confirmProductContainerImage img {
    height: 100px;
    width: auto;
  }
}

.confirmProductContainerInfo {
  width: 50%;
}

@media screen and (min-width: 665px) {
  .confirmProductContainerInfo {
    width: 33%;
    padding-left: 50px !important;
  }
}

@media screen and (min-width: 1024px) {
  .confirmProductContainerInfo {
    padding-left: 0 !important;
  }
}

.confirmProductContainerPrice {
  width: 25%;
}

@media screen and (min-width: 665px) {
  .confirmProductContainerPrice {
    width: 33%;
  }
}

@media screen and (min-width: 1024px) {
  .confirmProductContainerPrice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-icons {
  height: 50px;
  width: 50px;
}

.list-inline {
  margin: 8px 0;
}

.footer-link {
  color: #000000;
}

.scrollButton {
  width: 25px;
}

#scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollButton:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/*# sourceMappingURL=main.css.map */