.product {

  &Container {
    padding: 10px;
    margin: 15px;

    &Image {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 150px;
      max-width: 200px;
    }

    &MoreDetails {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    &Details {
      padding: 5px !important;

      &Row {
        justify-content: center;
      }
    }

    &ItemQuantity, &ItemPrice {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
    }

    &ItemPrice {
      padding: 10px 0 !important;
    }
  }

  &Heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    &HeaderText {
      display: flex;
      justify-content: center;
      margin: 15px 0 0 0 !important;
      font-size: 24px;
    }
  }

  &Image {
    max-height: 150px;
    width: 220px;
  }

  &Title {
    margin: 0 !important;
  }

  &Lens {
    display: flex;
    justify-content: center;
    margin: 15px 0 !important;
  }

  &RemoveItemButton {
    margin: 0 !important;
  }

  &ItemPlus {
    margin-right: 10px;
  }

  &ItemMinus {
    margin:0 0 0 10px;
  }

  &ItemPrice {
    margin: 0;
  }
}

.orderSummary {

  margin-bottom: 15px !important;  
  
  &ProductAmount ,&ShippingCost, &DiscountApplied, &TotalAmount {
    border-top: solid 1px lightgrey !important;

    p {
      margin: 5px 0;
    }
  }

  &CheckoutButton {
    margin-top: 10px;
  }
}