#content {
  width:100%;
}

.btn-secondary {
  margin-bottom: 16px !important;
}

.carouselButton {
  color: #FFFFFF;
  text-transform: uppercase;
}


@include tablets {
  
  #content {
    position:absolute;
    top:0;
  }
}

@include desktops {

  .carousel-img {
    height: 100vh;
  }
}