.product {

  &Container {
    padding: 10px;
    margin: 15px;

    &Image {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 150px;
      max-width: 200px;
    }

    &Details {
      padding: 5px !important;

      &Row {
        justify-content: center;

        @include tablets {
          justify-content: flex-start;
        }
      }
    }

    &MoreDetails {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;

      @include tablets {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    &ItemQuantity, &ItemPrice {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 !important;

      @include tablets {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    &ItemPrice {
      padding: 10px 0 !important;
    }

    &RemoveItem{

      display: flex;
      justify-content: center;

      @include tablets{
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &Heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets {
      justify-content: space-between;
      flex-direction: row;
    }

    &Header {
      display: flex;
      justify-content: center;

      @include desktops {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
      }

    }

    &HeaderText {
      display: flex;
      justify-content: center;
      margin: 15px 0 0 0 !important;
      font-size: 24px;

      @include tablets {
        font-size: 28px;
        padding-left: 16px;
      }
    }

    &EmptyCart {
      @include tablets {
        justify-content: flex-end;
        margin-right: 10px;
      }
    }
  }

  &Image {
    max-height: 150px;
    width: 220px;

    @include tablets {
      margin-right: 40px;
      width: 150px;
    }

    @include desktops {
      width: 250px;
    }
  }

  &Title {
    margin: 0 !important;
  }

  &Lens {
    display: flex;
    justify-content: center;
    margin: 15px 0 !important;
    @include tablets {
      justify-content: flex-start;
    }
  }

  &RemoveItemButton {
    margin: 0 !important;
  }

  &ItemPlus {
    margin-right: 10px;
  }

  &ItemMinus {
    margin:0 0 0 10px;
  }

  &ItemPrice {
    margin: 0;
  }
}

.orderSummary {

  margin-bottom: 15px !important;  
  
  &ProductAmount ,&ShippingCost, &DiscountApplied, &TotalAmount {
    border-top: solid 1px lightgrey !important;

    p {
      margin: 5px 0;
    }
  }

  &CheckoutButton {
    margin-top: 10px;
  }
}