.confirmFeedback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #00c02b !important;
  border-color: #009d23 !important;
  color: #ffffff;
  margin-top: 10px;
  max-width: 400px;
  padding: 6px;
  background: #cccccc;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s, top 0.2s, visibility 0.2s;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;

  &Invalid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #DC143C !important;
    border-color: #DC143C !important;
    color: #ffffff;
    margin-top: 10px;
    max-width: 400px;
    padding: 6px;
    background: #cccccc;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s, top 0.2s, visibility 0.2s;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
  }
  &a {
    text-decoration: none;
  }

  &Visible {
    top: 20px;
    opacity: 1;
    visibility: visible;
  }
}

.product-container {
  background-color: #F0F0F0;
}

.product-details {
  display: flex;
  justify-content: flex-start !important;
}

.singleProduct {

  display: flex;
  justify-content: center;
  align-items: center;

  &Card {
    position: relative;
    height: 580px !important;
    background:#232323;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &Card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #786e62;
    clip-path: circle(300px at 80% -20%);
  }

  &Card:after {
    content: 'Orinoco';
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 60%;
    left: 2%;
    font-size: 7em;
    font-weight: 800;
    font-style: italic;
    color: rgba(120,110,98,0.4);
  }

  &ImgBox {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
  }

  &Img {
    position: absolute;
    top: 5%;
    left: 12%;
    width: 270px;
    transform: rotate(-15deg);
  }

  &Price {
    margin:20px 0;
  }

  &DescriptionContainer {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }

  &AddToCart, &ReturnToHome {
    margin-bottom: 15px;
  }
}

#productCounter {
  display: flex;
  align-items: center;
  padding-bottom: 30px;

  &Decrease {
    margin-right: 10px;
  }

  &Increase {
    margin-left: 10px;
  }
}

.btn-outline-primary {
  color: grey;
  border-color: grey;
  margin-right: 20px;

  &:hover {
    border-color: grey;
    background-color: #232323;
    opacity: 0.5;
  }
}

@include tablets {

  .product-image-section {
    display: flex;
    justify-content: center;
  }

  .product-details {
    padding: 0 70px 0 70px;
  }
}

@include desktops {

  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
  }
  
  .singleProduct {

    &Card {
      width: 500px;
      height: 650px;
      margin-bottom: 0;
    }

    &Card:before {
      clip-path: circle(440px at 80% -20%);
    }

    &Card:after {
      top: 70%;
      left: 15%;
    }
  
    &Img {
      width: 390px;
    }

    &Title {
      margin-bottom: 60px;
    }
  }
}