/* All Page Base Styles */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Dancing Script', cursive;
  margin: 0 auto;
}

/* Breakpoints */
/* Map */
/* Mixin */
/* Navbar Section */
.navbar {
  background: transparent !important;
  z-index: 9;
}

.nav-item {
  padding: 8px 30px 8px 20px !important;
  font-size: 1.5rem;
}

.nav-item {
  list-style-type: none;
}

#product-number {
  font-size: 12px;
  float: right;
  padding: 5px 0 0 7px;
}

@media screen and (min-width: 665px) {
  .nav-item {
    color: #FFFFFF !important;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#content {
  width: 100%;
}

.btn-secondary {
  margin-bottom: 16px !important;
}

.carouselButton {
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (min-width: 665px) {
  #content {
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-img {
    height: 100vh;
  }
}

.pb-5 {
  padding: 1.5rem 0 0.5rem 0 !important;
  margin: 0 !important;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h2 span {
  color: #786e62;
  font-size: 3rem;
}

#productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.product {
  position: relative;
}

.productCard {
  position: relative;
  width: 345px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.productCard:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #786e62;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.productCard:hover:before {
  -webkit-clip-path: circle(300px at 80% -20%);
          clip-path: circle(300px at 80% -20%);
}

.productCard:after {
  content: 'Orinoco';
  position: absolute;
  top: 50%;
  left: 8%;
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  color: rgba(120, 110, 98, 0.4);
}

.productImgBox {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productImgBox:hover {
  top: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.productImg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-25deg);
          transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.productImgButton {
  position: absolute;
  top: 70%;
  left: 65%;
  width: 50px;
  height: 50px;
  background: #fbfbfb;
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
}

.productImgAdd {
  max-width: 100%;
}

.productContentBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

.productContentBox h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.productContentBox a {
  display: inline-block;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

.productContentBox a:hover {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.productContentBox:hover {
  height: 210px;
}

.productSize, .productColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productSize h3, .productColor h3 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 10px;
}

.productSize span, .productColor span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #FFFFFF;
  margin: 0 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.productSize span:hover, .productColor span:hover {
  background: #FF0000;
}

.col-product {
  padding: 15px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

hr {
  border: 1px solid #786e62;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-icons {
  height: 50px;
  width: 50px;
}

.list-inline {
  margin: 8px 0;
}

.footer-link {
  color: #000000;
}

.scrollButton {
  width: 25px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/*# sourceMappingURL=main.css.map */